<!DOCTYPE html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1 {
    text-align:center;
}
.mySlides {display:none;}
</style>

<title>Dat320 Project</title>
</head>

<body>

    <h1> Dat320 Sloth Project Dashboard</h1>
    <img class="mySlides" width="2000" height="800" src="{{url_for('static', filename='sloth_scatter.png')}}" />
    <img class="mySlides" width="2000" height="800" src="{{url_for('static', filename='sloth_distribution.png')}}" />
    <img class="mySlides" width="2000" height="800" src="{{url_for('static', filename='boxplot.png')}}" />
    <img class="mySlides" width="2000" height="800" src="{{url_for('static', filename='feature_importances.png')}}" />
    <img class="mySlides" width="2000" height="800" src="{{url_for('static', filename='heatmap.png')}}" />
    <embed  class="mySlides"  width="2000" height="800" type="text/html" src="{{url_for('static', filename='model_eval.html')}}"> 
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>


</body>
</html>  

<script>

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

</script>